data_cache/
loca/images/
loca/models/loca_few_shot.pt
loca/models/loca_zero_shot.pt
loca/train_few_shot.sh
loca/train_zero_shot.sh
loca/utils/__pycache__/
loca/models/__pycache__/
ResNet/data/
ResNet/images/
ResNet/logsSave/
ResNet/__pycache__/
ResNet/.vscode/
Template/image/
Segmentation/SAM/data/sam_vit_b_01ec64.pth
.vscode
