data_cache/
loca/images/
loca/__pycache__
loca/models/loca_few_shot.pt
loca/models/loca_zero_shot.pt
loca/utils/__pycache__
loca/models/__pycache__
loca/train_few_shot.sh
loca/train_zero_shot.sh
loca/utils/__pycache__/
loca/models/__pycache__/
FamNet/data/
FamNet/images/
FamNet/logsSave/
FamNet/__pycache__/
FamNet/.vscode/
Segmentation/SAM/data/sam_vit_b_01ec64.pth
Segmentation/__pycache__
Segmentation/SAM/__pycache__
YOLO/__pycache__
YOLO/yolodata.pt
YOLO/yolov8x.pt
SAFECount/__pycache__
SAFECount/datasets/__pycache__
SAFECount/models/__pycache__
SAFECount/tools/__pycache__
SAFECount/utils
SAFECount/tools/ckpt_best.pth
test/__pycache__
.vscode
